h1{
  color: #B689DE;
  font-size: 100px;
  font-family: "Lobster";
  text-align: center;
  background-color: #E7C3D8;
  padding: 90px;
  margin: 0px;
}
h2{
  font-size: 55px;
  font-family: "Comic Sans MS";
  text-align: left;
}
p{
  font-size: 28px;
  font-family: "Times New Roman";
  text-align: justify;
  background-color: #8BB9BE;
  padding: 15px;
  margin: 20px;
  border-radius: 30px;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.menu a{
  font-size: 35px;
  font-family:"Comic Sans MS";
  text-decoration: none;
  background-color: #E7C3D8;
  padding: 30px;
  margin: 20px;
}
