h1{
  color: #B689DE;
  font-size: 60px;
  font-family: "Lobster";
  text-align: center;
}
h2{
  font-size: 45px;
  font-family: "Times New Roman";
  text-align: left;
}
p{
  font-size: 28px;
  font-family: "Times New Roman";
  text-align: justify;
}
.menu{
  font-size: 30px;
  font-family:"Comic Sans MS";
  word-spacing: 30px;
}
