h1{
  color: #B689DE;
  font-size: 100px;
  font-family: "Lobster";
  text-align: center;
  background-color: #E7C3D8;
  padding: 90px;
  margin: 0px;
}
h2{
  font-size: 55px;
  font-family: "Comic Sans MS";
  text-align: center;
}
h3{
  font-size: 45px;
  font-family: "Comic Sans MS";
  text-align: left;
}
p{
  font-size: 28px;
  font-family: "Times New Roman";
  text-align: justify;
  background-color: #D3BBEA;
  padding: 15px;
  margin: 10px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 30px;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 10px;
  margin-bottom: 5px;
}
.menu a{
  color: #9466BE;
  font-size: 35px;
  font-family:"Comic Sans MS";
  text-decoration: none;
  background-color: #E7C3D8;
  padding: 10px 20px;
  border-radius: 30px;
}
.img-anime {
  width: 800px;
  display: block;
  margin: 0 auto;
}
.icon {
  width: 135px;
  vertical-align: middle;
  margin-right: 10px;
}
.fonte{
  color: #9466BE;
  text-decoration: none;
}
